html, body, #root, .App {
    height: 100%;
  }
.functions-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Verdana";
}

.main-container{
    display: flex;
    margin-top: 30px;
}

.functions-flex{
    display: flex;
}

.create-function-container{
    width: 850px;
    margin-left: 75px;
}

.create-function-title-container{
    border-bottom: 2.5px solid #1a75ff;
    display: flex;
    justify-content: center;
}

.create-function-title-style{
    color: #1a75ff;
    font-size: 20px;
    font-weight: bold;
    padding-top: 8px;
}

.return-function-form-container{
    margin: auto;
    margin-top: 20px;
}

.code-input{
    height: 225px;
    width: 550px;
    background-color: white;
    border: 2px solid #1a75ff;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30px;
}

.code-input-shift{
    margin-top: 5px;
    margin-left: 5px;
}

.code-input-style{
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.functions-input-container{
    display: flex;
    width: 225px;
    margin-top: 20px;
}

.code-unsafe-addon-button-style{

    width: 180px;
    margin-left: 25px;
    height: 45px;
    background-color: white;
    vertical-align: middle;
    border-width: 2px;
    border-color: #1a75ff;
    border-radius: 5px;
    position: relative;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px rgb(202, 202, 202);
}

.code-unsafe-addon-button-style:focus{
    outline: none !important;
    outline-offset: none !important;
}

.code-unsafe-addon-button-style:after {
    content: "";
    background: #1a75ff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.code-unsafe-addon-button-style:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.param-lv-input-container{
    display: flex;
    margin-top: 45px;
}

.add-unsafe-func-button-container{
    margin-left: 50px;
}

.add-unsafe-func-button{
    width: 120px;
    height: 40px;
    background-color: white;
    border-width: 2px;
    border-color: #1a75ff;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(202, 202, 202);
}

.add-unsafe-func-button-text{
    color:#1a75ff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 6px;
}

.additional-func-call-container{
    margin-left: 60px;
    margin-top: 60px;
    display: flex;
}


.add-additional-func-call-button{
    width: 150px;
    height: 40px;
    background-color: white;
    border-width: 2px;
    border-color: #1a75ff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
    box-shadow: 3px 3px rgb(202, 202, 202);
}

.add-additional-func-call-button-text{
    color:#1a75ff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.code-addon-button-style{

    width: 180px;
    margin-left: 25px;
    height: 45px;
    margin-top: 15px;
    background-color: white;
    vertical-align: middle;
    border-width: 2px;
    border-color: #1a75ff;
    border-radius: 5px;
    position: relative;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px rgb(202, 202, 202);
}

.code-addon-button-style:focus{
    outline: none !important;
    outline-offset: none !important;
}

.code-addon-button-style:after {
    content: "";
    background: #1a75ff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.code-addon-button-style:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.code-addon-button-text-style{
    color: #1a75ff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 7px;
}

.code-addon-additional-function-name-style{
    color: #1a75ff;
    font-size: 14px;
    font-weight: 400;
}

.additional-func-params{
    font-size: 5;
}

.code-input-title-function-name-style{
    color: #1a75ff;
    font-size: 17px;
    font-weight: 500;
    margin-top: 7.5px;
    margin-right: 20px;
    text-align: center;
}

.code-input-parameter-title-style{
    color: #1a75ff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    margin-right: 10px;
}

.code-input-variable-title-style{
    color: #1a75ff;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.code-input-text-style{
    color: black;
    font-size: 15px;
}

.add-to-program-spacer{
    margin-top: 10px;
    padding: 1px;
    margin-left: 10px;
}

.function-name-container{
    width: 50%;
    margin-top: 10px;
    margin-left: 40%;
}

.function-name-input-style{
    outline: none !important;
    outline-offset: none !important;
    width: 150px;
    height: 35px;
    background-color: white;
    border-bottom: 2px solid #1a75ff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #1a75ff;
    margin-left: 20px;
}

.function-value-input-style{
    outline: none !important;
    outline-offset: none !important;
    width: 120px;
    height: 35px;
    margin-left: 50px;
    background-color: white;
    border-bottom: 2px solid #1a75ff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #1a75ff;
}

#inputID::placeholder {
    color: #1a75ff;
    opacity: .7;
}

.input:focus {outline:none;}

.add-value-button-style{
    position: relative;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    border-color: #1a75ff;
    color: #FFFFFF;
    width: 140px;
    height: 36px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-left: 75px;
    box-shadow: 3px 3px rgb(202, 202, 202);

}

.add-value-button-style:focus{
    outline: none !important;
    outline-offset: none !important;
}

.add-value-button-style:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.add-value-button-style:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.add-value-button-text-style{
    color: #1a75ff;
    font-size: 13px;
    margin-top: 6px;
    font-weight: bold;
}

.add-to-program-button-style{
    width: 180px;
    margin-left: 25px;
    height: 45px;
    margin-top: 15px;
    background-color: #1a75ff;
    vertical-align: middle;
    border-width: 1.5px;
    border-color: white;
    margin-bottom: 30px;
    position: relative;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.add-to-program-button-style:focus{
    outline: none !important;
    outline-offset: none !important;
}

.add-to-program-button-style:after {
    content: "";
    background: #1a75ff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.add-to-program-button-style:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


.add-to-program-button-text-style{
    color:white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 7px;
}

.program-code-text-style{
    font-size: 14px;
    font-weight: 400;
}

.program-code-container{
    width: 450px;
    height: 550px;
    background-color: white;
    border-radius: 5px;
}

.program-name-text-intro-style{
    color: #1a75ff;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 20px;
}

.program-name-intro-container{
    border-bottom: 2px solid #1a75ff;
}

.view-stack-button{
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    vertical-align: middle;
    border-width: 2px;
    border-color: #1a75ff;
    position: relative;
    font-weight: bold;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px rgb(202, 202, 202);
}

.view-stack-button:focus{
    outline: none !important;
    outline-offset: none !important;
}

.view-stack-button:after {
    content: "";
    background: #1a75ff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.view-stack-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.code-input-title-container{
    width: 120px;
}

.unsafe-functions-container{
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
}

.strcpy-param-title-style{
    color: #1a75ff;
    font-size: 13px;
    font-weight: bold;
    height: 10px;
    text-align: center;
    margin-top: 5px;
}

.param-lv-title-style{
    color: #1a75ff;
    font-size: 13px;
    font-weight: bold;
    height: 10px;
    margin-top: 5px;
}

.strcpy-param-dropdown-container{
    width: 115px;
}

.strcpy-param-dropdown-name-container{
    width: 90px;
    margin-right: 30px;
}

.additional-functions-dropdown{
    width: 120px;
}

.error-input-text-style{
    color: red;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.width-75{
    width: 75px;
}

.width-150{
    width: 150px;
}

.height-10{
    height: 10px;
}

.height-5{
    height: 5px;
}

.background-color-white{
    background-color: white;
}

.dropdown-params-lv{
    margin-left: 50px;
    width: 100px;
}

.marginT-15-marginLeft-20{
    margin-top: 15px;
    margin-left: 20px;
}

.main-spacer{
    margin-left: 50px;
}

.program-functions{
    margin-top: 5px;
    margin-left: 5px;
}

.addon-container{
    margin-left: 3%;
}

.margin-left-7{
    margin-left: 7.5px;
}

.code-lines-spacer{
    margin-left: 7.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-auto{
    margin: auto;
}

.activity-button-container{
    display: flex;
    padding-top: 3px;
}

.activity-button-text{
    color: #1a75ff;
    font-size: 18px;
    font-weight: bold;
    padding-top: 2px;
}

.clear-button{
    height: 30px;
    width: 70px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #1a75ff;
    font-size: 15px;
    color: #1a75ff;
    margin-left: 45%;
}

.instruction-step{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ff4d4d;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}


