.flex{
    display: flex;
}

.main-stack-frame-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Verdana";
}

.stack-container{
    margin-left: 2vh;
    margin-top: 1vh;
    width: 55vh;
    height: 100%;
}

.stack-container-border{
    border-top: 0.35vh solid #1a75ff;
    border-bottom: 0.35vh solid #1a75ff;
}

.stack-start-address-text{
    color: #1a75ff;
    font-size: 1.8vh;
}

.stack-end-address-text{
    color: #1a75ff;
    font-size: 1.8vh;
    margin-top: 5%;
}

.stack-title-text{
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    padding-top: 2%;
    text-align: center;
}

.stack-title-text-start{
    color: #1a75ff;
    font-weight: bold;
    font-size: 2.8vh;
    text-align: center;
    padding-top: 5%;
}

.heap-container{
    height: 35vh;
    width: 100%;
    margin-top: 1%;
    background-color: #035263;
}

.heap-title-text{
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    padding-top: 2%;
    text-align: center;
}

.data-container{
    height: 18vh;
    width: 100%;
    background-color: #05829E;
}

.code-container{
    height: 18vh;
    width: 100%;
    background-color: #61DEFA; 
}

.back-button{
    background-color: white;
    border-radius: 0.5vh;
    margin-top: 1%;
    border: 0.25vh solid #1a75ff;
    box-shadow: 0.35vh 0.35vh rgb(202, 202, 202);
    height: 5vh;
    width: 6vh;
}


.pop-main-button{
    width: 14vh;
    height: 5vh;
    background-color: #ff8000;
    border-radius: 0.5vh;
    border: none;
    box-shadow: 0.25vh 0.35vh rgb(202, 202, 202);
    font-size: 1.8vh;
    color: white;
    font-weight: bold;
}

.pop-main-button:focus{
    outline: none !important;
    outline-offset: none !important;
}

.program-button-container{
    margin-left: 5%;
    margin-bottom: 5%;
}

.run-program-button{
    height: 5vh;
    width: 12vh;
    border-radius: 0.5vh;
    border: none;
    box-shadow: 0.35vh 0.35vh rgb(202, 202, 202);
    font-size: 2.2vh;
    color: white;
    font-weight: bold;
    background-color: #00e600;
}

.run-program-button:focus{
    outline: none !important;
    outline-offset: none !important;
}

.user-input{
    height: 4vh;
    border-bottom: 0.25vh solid #1a75ff;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none !important;
    outline-offset: none !important;
    color: #1a75ff;
    font-size: 2vh;
    margin-top: 7vh;
}

.seg-fault{
    color: green;
    font-size: 2.2vh;
}

.main-code-spacer{
    margin-top: 1%;
    margin-left: 1%;
}

.program-code-container-stack{
    width: 50vh;
    height: 75vh;
}

.program-buttons-container{
    margin:0 auto;
    display:block;
}

.program-name-container{
    border-bottom: 0.25vh solid #1a75ff;
}

.program-name-text-style{
    color: #1a75ff;
    font-size: 2.5vh;
    text-align: center;
    font-weight: bold;
}

.code-lines-spacer{
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.program-code-text-style{
    font-size: 1.9vh;
    font-weight: 400;
}

.program-functions{
    margin-top: 1%;
    margin-left: 1%;
}

.functions-flex{
    display: flex;
}

.main-stack-param-text{
    color: white;
    font-size: 1.8vh;
    text-align: center;
    margin-top: 1%;
}

.first-user-input-param-container{
    border-top: 1px solid white;
}

.exe-code-text{
    color: #1a75ff;
    font-size: 2vh;
}

.user-input-static-text{
    color: #1a75ff;
    font-size: 17px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 5px;
}

.stack-frame-open-button{
    background-color: #0B1D51;
    width: 100%;
    border: 0.25vh solid white;
    margin-top: 1%;
    height:7vh;
    margin-bottom: 2px;
}

.stack-frame-open-button-strcpy{
    background-color: #ff4d4d;
    width: 100%;
    border: 0.25vh solid white;
    margin-top: 1%;
    height: 7vh;
}

.stack-frame-button-text{
    color: white;
    font-size: 1.9vh;
    margin-top: 8%;
}

.stack-frame-button-text-strcpy{
    color: white;
    font-size: 1.9vh;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack-frame-param-container{
    background-color: #003559;
    width: 40vh;
}

.stack-frame-param-title-container{
    background-color: #003559;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stackframe-main-text{
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.stack-frame-text{
    font-size: 16px;
    color: white;
}

.return-address-container{
    background-color: #0353A4;
    width: 40vh;
}

.return-address-title-container{
    background-color: #0353A4;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saved-frame-pointer-container{
    background-color: #006DAA;
    width: 40vh;
}

.saved-frame-pointer-title-container{
    background-color: #006DAA;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-stack-second-container{
    display: flex;
    border-bottom: 1px solid white;
}

.main-stack-element-title-text{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 4px;
    font-weight: 500;
}

.main-stack-value-container{
    width: 50%;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
}

.argv-one-container{
    background-color: #416788;
}

.stack-frame-variable-container{
    background-color: #416788;
    width: 300px;
}

.stack-frame-variable-title-container{
    background-color: #416788;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack-frame-function-name-text{
    font-size: 18px;
    color: white;
    font-weight: 400px;
    text-align: center;
    margin-top: 5px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.second-main-container{
    margin-top: 2%;
    width: 50vh
}

.instruction-step{
    width: 5vh;
    height: 5vh;
    border-radius: 2.5vh;
    background-color: #ff4d4d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.instruction-sub-text{
    color: white;
    font-size: 1.9vh;
    margin-top: 0.6vh;
    margin-left: 0.6vh;
}

.instruction-sub-circle {
    display: inline-block;
    width: 4.2vh;
    height: 4.2vh;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #ff5d5d 10%, #ff1616 80%, #ff0000 100%);
}
.instruction-sub-circle:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
    z-index: 2;
}

.construct-payload-text{
    font-size: 2.7vh;
    color: #1a75ff;
    font-weight: bold;
    margin-top: 3%;
}

.construct-payload-sub-text{
    font-size: 2.4vh;
    color: #1a75ff;
    font-weight: bold;
}


.construct-payload-container{
    margin-top: 2%;
    width: 85vh;
}

.info-symbol{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid black;
}

.hints-title{
    font-size: 2.1vh;
    color: #ff3399;
    font-weight: bold;
}

.hints{
    font-size: 1.9vh;
    color: #ff3399;
    height: 1.2vh;
}

.construct-payload-part-container{
    margin-top: 2vh;
}

.payload-nop-header-container{
    display: flex;
    width: 55vh;
    margin-top: 2vh;
}

.payload-shellcode-header-container{
    display: flex;
    width: 45vh;
    margin-top: 2vh;
}

.payload-return-address-header-container{
    display: flex;
    width: 60vh;
    margin-top: 2vh;
}

.payload-nop-header-title-container{
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 0.6vh;
}

.construct-payload-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
}

.malicious-execution-title-text{
    font-size: 1.9vh;
    color: #1a75ff;
    font-weight: bold;
}

.malicious-execution-text{
    font-size: 15px;
    color: #00e600;
    font-weight: bold;
    margin-left: 1%;
    font-size: 1.9vh;
}

.malicious-execution-text-running{
    font-size: 15px;
    color: #ff1a75;
    font-weight: bold;
    margin-left: 1%;
    font-size: 1.9vh;
}

.malicious-execution-unsuccessful-text{
    font-size: 15px;
    color: red;
    font-weight: bold;
    margin-left: 1%;
    font-size: 1.9vh;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(214, 214, 214);
    font-size: 2vh;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(161, 161, 161);
    font-size: 1.9vh;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(161, 161, 161);
    font-size: 2vh;
  }

.stack-smashing-status-container{
    margin-top: 10%;
    height: 5vh;
    border: 0.35vh solid #1a75ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vh;
}

.stack-smashing-status-title-container{
    width: 18vh;
}

div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    width: 50vh;
    margin-top: 10%;
}
  
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
  
div.scrollmenu a:hover {
    background-color: #777;
}

.payload-diagram{
    height: 7vh;
    width: 40vh;
    margin-top: 5%;
}

.payload-next-button-container{
    margin-right: 3vh;
    margin-left: 2vh;
}

.payload-shellcode-next-button-container{
    margin-top: 2vh;
    margin-right: 3vh;
    margin-left: 42vh;
    display: flex;
}

.payload-shellcode-next-button-shellcode-container{
    margin-left: 5vh;
}

.payload-diagram-container{
    display: flex;
}

.payload-diagram-nop-container{
    width: 18vh;
    height: 5vh;
    background-color: #FFF2CC;
}

.payload-diagram-shellcode-container{
    width: 18vh;
    height: 5vh;
    background-color: #D5E8D4; 
}

.payload-diagram-return-address-container{
    width: 18vh;
    height: 4.95vh;
    background-color: #F8CECC; 
}

.payload-diagram-title-text{
    font-size: 1.5vh;
    font-weight: bold;
    text-align: center;
}

.payload-diagram-text{
    font-size: 1.55vh;
}

.payload-diagram-nop-border{
    border: 0.35vh solid #f8d467;
}

.payload-diagram-shellcode-border{
    border: 0.35vh solid #588f55;
}

.payload-diagram-return-address-border{
    border: 0.35vh solid #cc7a76;
}

