.flex{
    display: flex;
}

.main-stack-frame-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Verdana";
}

.stack-container{
    margin-left: 2%;
    margin-top: 2%;
    width: 60vh;
    height: 100%;
    background-color: blueviolet;
}

.stack-container-border{
    border-top: 0.35vh solid #1a75ff;
    border-bottom: 0.35vh solid #1a75ff;
}

.stack-start-address-text{
    color: #1a75ff;
    font-size: 1.6vh;
}

.stack-end-address-text{
    color: #1a75ff;
    font-size: 1.6vh;
    margin-top: 5%;
}

.stack-title-text{
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    padding-top: 2%;
    text-align: center;
}

.stack-title-text-start{
    color: #1a75ff;
    font-weight: bold;
    font-size: 2.8vh;
    text-align: center;
    padding-top: 2%;
}

.heap-container{
    height: 26vh;
    width: 100%;
    margin-top: 1%;
    background-color: #035263;
}

.heap-title-text{
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    padding-top: 2%;
    text-align: center;
}

.data-container{
    height: 13vh;
    width: 100%;
    background-color: #05829E;
}

.code-container{
    height: 13vh;
    width: 100%;
    background-color: #61DEFA; 
}

.back-button{
    background-color: white;
    border-radius: 0.5vh;
    margin-top: 1%;
    border: 0.25vh solid #1a75ff;
    box-shadow: 0.35vh 0.35vh rgb(202, 202, 202);
    height: 5vh;
    width: 6vh;
}

.next-button{
    width: 7vh;
    height: 4vh;
    border-radius: 0.5vh;
    background-color: white;
    border: 0.35vh solid #1a75ff;
    box-shadow: 0.35vh 0.35vh rgb(202, 202, 202);
    font-size: 2vh;
    color: #1a75ff;
    font-weight: bold;
}

.next-button:focus{
    outline: none !important;
    outline-offset: none !important;
}

.pop-main-button{
    width: 12vh;
    height: 4vh;
    background-color: white;
    border-radius: 0.5vh;
    border: 0.25vh solid #1a75ff;
    box-shadow: 0.25vh 0.35vh rgb(202, 202, 202);
    font-size: 1.5vh;
    color: #1a75ff;
    font-weight: bold;
}

.pop-main-button:focus{
    outline: none !important;
    outline-offset: none !important;
}

.run-program-button{
    height: 4vh;
    width: 7vh;
    border-radius: 0.5vh;
    border: 0.25vh solid #1a75ff;
    box-shadow: 0.35vh 0.35vh rgb(202, 202, 202);
    font-size: 2vh;
    color: #1a75ff;
    font-weight: bold;
    background-color: white;
}

.run-program-button:focus{
    outline: none !important;
    outline-offset: none !important;
}

.user-input{
    height: 4vh;
    border-bottom: 0.25vh solid #1a75ff;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none !important;
    outline-offset: none !important;
    color: #1a75ff;
    font-size: 2vh;
}

.seg-fault{
    color: green;
    font-size: 2.2vh;
}

.main-code-spacer{
    margin-top: 1%;
    margin-left: 1%;
}

.program-code-container-stack{
    width: 60vh;
    height: 75vh;
    margin-top: 12%;
}

.program-buttons-container{
    margin:0 auto;
    display:block;
}

.program-name-container{
    border-bottom: 0.25vh solid #1a75ff;
}

.program-name-text-style{
    color: #1a75ff;
    font-size: 2.5vh;
    text-align: center;
    font-weight: bold;
}

.code-lines-spacer{
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.program-code-text-style{
    font-size: 1.7vh;
    font-weight: 400;
}

.program-functions{
    margin-top: 1%;
    margin-left: 1%;
}

.functions-flex{
    display: flex;
}

.main-stack-param-text{
    color: white;
    font-size: 1.8vh;
    text-align: center;
    margin-top: 1%;
}

.first-user-input-param-container{
    border-top: 1px solid white;
}

.exe-code-text{
    color: #1a75ff;
    font-size: 2.1vh;
    margin-top: 15%;
    margin-left: 1%;
    margin-right: 0.5%;
}

.user-input-static-text{
    color: #1a75ff;
    font-size: 17px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 5px;
}

.exe-code-container{
    height: 5%;
    width: 10%;
    margin-left: 2%;
}

.stack-frame-open-button{
    background-color: #0B1D51;
    width: 60vh;
    border: 1px solid white;
    margin-top: 10px;
    height:7vh;
    margin-bottom: 2px;
}

.stack-frame-open-button-strcpy{
    background-color: #ff4d4d;
    width: 600px;
    border: 1px solid white;
    margin-top: 10px;
    height:50px;
}

.stack-frame-button-text{
    color: white;
    font-size: 1.9vh;
    margin-top: 8%;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack-frame-param-container{
    background-color: #003559;
    width: 40vh;
}

.stack-frame-param-title-container{
    background-color: #003559;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stackframe-main-text{
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.stack-frame-text{
    font-size: 16px;
    color: white;
}

.return-address-container{
    background-color: #0353A4;
    width: 40vh;
}

.return-address-title-container{
    background-color: #0353A4;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saved-frame-pointer-container{
    background-color: #006DAA;
    width: 40vh;
}

.saved-frame-pointer-title-container{
    background-color: #006DAA;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-stack-second-container{
    display: flex;
    border-bottom: 1px solid white;
}

.main-stack-element-title-text{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 4px;
    font-weight: 500;
}

.main-stack-value-container{
    width: 50%;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
}

.argv-one-container{
    background-color: #416788;
}

.stack-frame-variable-container{
    background-color: #416788;
    width: 300px;
}

.stack-frame-variable-title-container{
    background-color: #416788;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.functions-arrow-stack{
    padding: 2%;
}

.stack-frame-function-name-text{
    font-size: 18px;
    color: white;
    font-weight: 400px;
    text-align: center;
    margin-top: 5px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.second-main-container{
    margin-top: 2.5%;
}

.instruction-step{
    width: 5vh;
    height: 5vh;
    border-radius: 2.5vh;
    background-color: #ff4d4d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.instruction-sub-step{
    width: 4vh;
    height: 4vh;
    border-radius: 2vh;
    background-color: #ff4d4d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6vh;
}

.construct-payload-text{
    font-size: 2.7vh;
    color: #1a75ff;
    font-weight: bold;
}

.construct-payload-sub-text{
    font-size: 1.9vh;
    color: #1a75ff;
    font-weight: bold;
}

.construct-payload-container{
    margin-top: 2%;
    width: 30%;
    background-color: blue;
}

.info-symbol{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid black;
}

.hints-title{
    font-size: 1.6vh;
    color: #ff3399;
    font-weight: bold;
}

.hints{
    font-size: 1.5vh;
    color: #ff3399;
}

.construct-payload-part-container{
    display: flex;
    margin-top: 5%;
}

.malicious-execution-title-text{
    font-size: 17px;
}

.malicious-execution-text{
    font-size: 15px;
}

.malicious-execution-failed-title-text{
    font-size: 17px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(214, 214, 214);
    font-size: 2vh;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(161, 161, 161);
    font-size: 1.9vh;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(161, 161, 161);
    font-size: 2vh;
  }
