.pushable {
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.shadow {
    position: absolute;
    top: 0.8vh;
    left: 0;
    width: 100%;
    border-radius: 1vh;
    background: hsl(0deg 0% 0% / 0.25);
    transform: translateY(0.15vh);
}

.edge {
    position: absolute;
    top: 0.8vh;
    left: 0;
    width: 100%;
    border-radius: 1vh;
}

.front {
    position: relative;
    border-radius: 1vh;
    color: white;
    font-weight: bold;
    transform: translateY(-1vh);
}

.pushable:hover .front {
    transform: translateY(-1.3vh);
  }
  .pushable:hover .shadow {
    transform: translateY(0.3vh);
  }
  .pushable:active .front {
    transform: translateY(-0.25vh);
  }
  .pushable:active .shadow {
    transform: translateY(0.25vh);
  }
.pushable:focus:not(:focus-visible) {
    outline: none;
}

.front-color-white{
  background-color: white;
}

.front-color-darker-green{
  background-color: #00db00;
}

.front-color-green{
  background-color: #00e600;
}

.edge-color-green{
  background-color: #008a00;
}

.front-color-blue{
  background-color: #1a75ff;
}

.edge-color-blue{
  background-color: #002e72;
}

.edge-color-lighter-blue{
  background-color: #1a75ff; 
}

.front-color-orange{
  background-color: #ff8000;
}

.edge-color-orange{
  background-color: #ad5700;
}

.front-padding-execution-button{
  padding: 1vh 4.2vh;
}

.front-padding-back-button{
  padding: 0.1vh 2vh;
}

.front-padding-add-to-intro-button{
  padding: 0.7vh 0.5vh;
}

.front-padding-clear-button{
  padding: 1vh 2vh;
}

.front-padding-clear-function-button{
  padding: 0.5vh 1vh;
}

.front-padding-stack-button{
  padding: 1vh 1vh;
}

.front-padding-add-additional-func-button{
  padding: 1.2vh 2.3vh;
}

.front-padding-add-param-lv-button{
  padding: 0.5vh 3vh;
}

.front-padding-begin-button{
  padding: 0.1vh 2vh;
}

.front-padding-execution-button-text-size{
  font-size: 2.8vh;
}

.edge-height-execution-button{
  height: 4.85vh;
}

.edge-height-back-button{
  height: 2.25vh;
}

.edge-height-stack-next-button{
  height: 2.35vh;
}

.edge-height-add-to-intro-button{
  height: 5.2vh;
}

.edge-height-clear-button{
  height: 3.7vh;
}

.edge-height-stack-button{
  height: 5vh;
}

.edge-add-param-lv-button{
  height: 3.1vh;
}

.edge-height-begin-button{
  height: 3.3vh;
}

.shadow-height-execution-button{
  height: 4.92vh;
}

.shadow-height-back-button{
  height: 2.35vh;
}

.shadow-height-add-to-intro-button{
  height: 5.35vh;
}

.shadow-height-clear-button{
  height: 3.85vh;
}

.shadow-height-clear-function-button{
  height: 2.85vh;
}

.shadow-height-stack-next-button{
  height: 2.5vh;
}

.shadow-height-stack-button{
  height: 5.15vh;
}

.shadow-height-add-param-lv-button{
  height: 3.25vh;
}

.shadow-height-begin-button{
  height: 3.45vh;
}


.container-payload-next-button{
  margin-top: 5%;
  margin-left: 5%;
}

.front-padding-add-to-intro-button-text-size{
  font-size: 2vh;
}

.add-to-intro-width{
  width: 22vh
}

.begin-button-width{
  width: 50vh
}