.start-page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Roboto Mono";
}

.start-btn {
  width: 50vh;
  height: 6vh;
  border: 0.25vh solid #1a75ff;
  background-color: white;
  border-radius: 1vh;
  color: #1a75ff;
  font-size: 3vmin;
}

.start-page-header-text{
  color: #1a75ff;
  font-size: 5vmin;
}

.start-page-sub-header-text{
  color: #1a75ff;
  font-size: 3vmin;
}

.begin-button-text{
  color: #1a75ff;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}

.logo{
  height: 40vh;
  width: 50vh;
  margin-left: 4vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
